.display-5 {
    text-shadow: 2px 2px 2px rgb(66, 66, 66);

}
.score {
    font-size: 30px;
    font-family: "Lobster";
    
}
h1, h3 {
    font-family: "Lobster";
}
.fas {
    color: rgb(204, 141, 4)
}
