* {
    box-sizing: border-box;
    background-color: rgb(212, 19, 138);
    text-align: center;
    
  }
  html, body, #root {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: rgb(194, 48, 207);
  }
  .jumbotron {
    font-family: "Lobster";
    background-color: rgb(132, 25, 219);
}
.container {
  background-color: rgb(212, 19, 138);
}