* {
    box-sizing: border-box;
    background-color: black;
    text-align: center;
    color: rgb(252, 250, 250);
    
  }
  html, body, #root {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: rgb(204, 141, 4);
  }
  .jumbotron {
    font-family: "Lobster";
    background-color: black;
}
